<div class="container">
  <div id="standings">
    <table id='standings-list'>
      <th>
        <td>Standings</td>
        <td>Current Location</td>
        <td>Total Complete</td>
      </th>
        
    </table>
  </div>

  <div id="submissions">

  </div>
</div>
