<div class="container">
  <div id="standings">
    <table class="hoverable">
      <tbody id='standings-list'>
      <tr>
        <td>Standings</td>
        <td>Current Location</td>
        <td>Total Complete</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="submissions">

  </div>
</div>
