<form id="number-of-teams">
  <button class="button" id="new-game-button">New Game</button><br>
    <label for="name" >Name of Hunt</label><br>
  <input name="name" type="text" id="name-of-hunt-input"> </input><br>
    <label for="number_of_teams"># of Teams</label><br>
  <input name="number_of_teams" type="number" value="3" id="number-of-teams-input"> </input>
</form>
