<%= render "shared/nav" %>
<div class="container">
  <h1 class="landing-header center">Welcome to Turing School of Software and Design</h1>
</div>

  <h6 class="center-align col-s4 m-2"><%= image_tag "Turing_spinner.gif", id: "landing-spinner" %>Get ready. Get set. Get your hunt on...</h6>
