<div class="navbar">

    <nav class="navbar">
      <div class="nav-wrapper black">
        <%= image_tag("turing.png", :class => "turing_img") %>
        <%= link_to "Turing Scavenger Hunt", "#", id: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <% if current_admin %>
            <li class="col s6 login">
                <%= link_to "Logout", logout_path %>
            </li>
          <% else  %>
            <li class="col s6 login">
                <%= link_to "Admin", "/login" %>
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </nav>
  </div>
