<div class="navbar-fixed">

    <nav>
      <div class="nav-wrapper black">
        <!-- <%= image_tag "turing.png" %> -->
        <div class="col s9">

        <%= link_to "Turing Scavenger Hunt", "#", id: "brand-logo" %>



        <ul class="right hide-on-med-and-down">
          <li class="col s6">
              Menu
          </li>
        </ul>
        </div>
      </div>
    </nav>
  </div>
