.hidden {
  display: none;
}

.new_hunt{
  margin-top: 65px;
}

.team_numbers {
  margin-top: 65px;
}

.dashboard {
  margin-top: 65px;
}





// navbar

.navbar {
  min-height: 120px;
}

.turing_img {
  margin-top: 19px;
  width: 18%;
}

#brand-logo {
  margin-left: 5px;
  font-size: 1.2em;
}

.landing-header {
  margin-top: 80px;
}

.login {
  margin-right: 50px;
  margin-top: 25px;
}
